.section {
  width: 100%;
  background: var(--light-bg-color);
  padding-bottom: 40px;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__label {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--ice-cream-medium-color);
  width: 100%;
  margin-bottom: 15px;
}

.about__picture-caw {
  margin-bottom: 40px;
  display: block;
}

.image-wrap {
  background-image: url(../images/mobile/milk-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/milk-2x.png);
  }

  @media screen and (min-width: 1200px) {
    background-size: cover;
    background-image: url(../images/desktop/milk-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/milk-2x.png);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: none;
  }
}

.about__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  width: 100%;
  margin-bottom: 32px;
}

.image-wrap__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  max-width: 190px;
  width: 100%;
  margin-bottom: 40px;
}

.image-wrap__text-color {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.button {
  background: var(--white-bg-color);
  border-radius: 22px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 37px;
  border: none;
  padding-left: 37px;
  transition: all 0.3s linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.button__icon {
  margin-left: 14px;
}
