.section {
  width: 100%;
  background: var(--light-bg-color);
  padding-bottom: 40px;
  margin: 0 auto;

  @include tablet {
    padding-bottom: 60px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__label {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--ice-cream-medium-color);
  width: 100%;
  margin-bottom: 15px;

  @include tablet {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}

.about__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  width: 100%;
  margin-bottom: 32px;

  @include tablet {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 40px;
  }
}

.about__picture-caw {
  display: block;
  @include mobile {
    margin-bottom: 40px;
  }
  @include tablet {
    margin-right: 32px;
    margin-bottom: 0;
  }
}

.image-wrap__mobile {
  background-image: url(../images/mobile/milk-1x.png);
  background-repeat: no-repeat;
  background-position: 0% 70px;
  background-size: contain;
  width: 100%;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/milk-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: none;
  }
}

.desktop-image-wrap {
  @media screen and (min-width: 1200px) {
    background-size: contain;
    background-image: url(../images/desktop/milk-1x.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/milk-2x.png);
    }
  }
}

.image-wrap__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  max-width: 220px;
  width: 100%;
  margin-bottom: 30px;

  @include tablet {
    font-size: 14px;
    line-height: 1.76;
    max-width: 334px;
  }
}

.image-wrap__text-color {
  color: var(--secondary-text-color);
  max-width: 216px;

  @include tablet {
    max-width: 308px;
  }
}

.button-block__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--accent-color);
  font-family: inherit;
  background: var(--white-bg-color);
  border-radius: 22px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 37px;
  border: none;
  padding-left: 37px;
  transition: all 0.3s linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @include tablet {
    font-size: 16px;
    line-height: 1.31;
    margin-top: 10px;
  }
}

.button-block__icon {
  margin-left: 14px;
}

.flex {
  @include tablet {
    display: flex;
  }
}
