.advantages-section {
  display: block;
  background-color: #fff5f6;
  padding-bottom: 60px;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.advantages-container {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
  }
}

.advantages-list__item {
  margin: 0;
  padding: 0;

  margin-bottom: 32px;
  max-width: 230px;

  @media screen and (min-width: 768px) {
    max-width: 177px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 80px;
    max-width: 288px;
    margin-bottom: 0;
  }
}

.advantages-list__item:last-child {
  margin-bottom: 0;
}

.advantages-list__heading {
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.first-icon::before {
  content: '';
  display: block;
  width: 33px;
  height: 50px;
  background-image: url('/src/images/milk.png');
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.second-icon::before {
  content: '';
  display: block;
  width: 49px;
  height: 50px;
  background-image: url('/src/images/apple.png');
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.thirth-icon::before {
  content: '';
  display: block;
  width: 46px;
  height: 50px;
  background-image: url('/src/images/heart.png');

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages-list__description {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--primary-text-color);
  margin-top: 4px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
    margin-top: 13px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    margin-top: 16px;
  }
}
