// .customer-reviews {

// }
// .customer-reviews__title {
// }

// .swiper-container {
// }
// .image-slider__wriper {
// }
// .swiper-wrapper {
// }
// .image-slider__slide {
// }
// .swiper-slide {
// }
.swiper-pagination {
}
.swiper-pagination-bullet{
    position: absolute;
    width: 12px;
    height: 12px;
    color: rgba(217, 217, 217, 1);
}

.image-slider__image {
text-align: center;
}
.image-slider__image img {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}
.image-slider__text {
    background-color: rgba(250, 250, 250, 1);
}
.image-slider {
    text-align: center;
}