.swiper {
    padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  & .swiper-button-next,
  & .swiper-button-prev {
    display: none;

}
}

.swiper .container{
padding-left: 20px;
padding-right: 20px;
}

.swiper-wrapper__picture {
    display: inline-block;
    margin-bottom: 32px;
}
.swiper-wrapper__content {
    padding: 43px 58px 26px 65px;
    background-color: #fafafa;
    min-width: 280px;
    z-index: -1;
}
.image-slider__text {

    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(31 / 12);
    text-align: center;
    letter-spacing: 0.04em;
  
    background-image: 
    linear-gradient(0deg ,#e1e1e1 1.61%, transparent 1.61%,
    transparent 50%,
    #e1e1e1 50%,
    #e1e1e1 51.61%,
    transparent 51.61%,
    transparent 100%
    );
    background-size: 62px 62px;
  
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: -14px;
        left: 10px;
        width: 54px;
        height: 40px;
        background-image: url('../images/mobile/lapky.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    left: -20px;
}
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}