.footer {
  padding-top: 121px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  background-color: var(--light-bg-color);
}

.footer__pretitle {
  margin-bottom: 16px;
  width: 232px;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--ice-cream-medium-color);
}

.footer__title {
  margin-bottom: 40px;
  width: 200px;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.footer-contacts-wrap {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 40px;
}

.footer__list {
  display: flex;
}

.footer__item + .footer__item {
  margin-left: 28px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
}

.footer__icon {
  color: var(--light-text-color);
  &--github {
    width: 19px;
    height: 19px;
  }
  &--telegram {
    width: 19px;
    height: 15px;
  }
  &--facebook {
    width: 9px;
    height: 19px;
  }
}
