.header {
  background-color: var(--ice-cream-bg-color);
  @include tablet {
    padding-top: 32px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  padding: 8px 0;
  @include tablet {
    padding: 0;
  }
  
  @include desktop {
    margin-right: 128px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  @include desktop {
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--white-bg-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-open-btn {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: transparent;
  border: none;
  @include tablet {
    margin-right: 32px;
  }
  @include desktop {
    display: none;
  }
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 44px;
  padding: 10px;
  border-radius: 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  font-family: inherit;

  color: var(--accent-color);
  background-color: var(--white-bg-color);
  border-color: transparent;

  transition: all 300ms linear;

  &:hover,
  &:focus {
    background-color: #d41342;
    color: var(--light-text-color);
  }

  @include tablet {
    width: 186px;
  }
  @include desktop {
    width: 160px;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  padding: 64px 0;
  background-color: var(--ice-cream-rich-color);
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.25);
  transform: translateX(100%);
  transition: all 300ms linear;
}

.mob-menu.is-open {
  transform: translateY(0);
}

.mob-menu__main-btn {
  margin: 0 auto;
  width: 186px;
  margin-bottom: 20px;
}

.arrow-btn {
  margin-left: 18px;
  padding-top: 4px;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 34px;
  width: 18px;
  height: 18px;
  padding: 4px;
  background-color: transparent;
  border: none;
  // border-radius: 50%;
}

// .no-scroll {
//   overflow: hidden;
// }

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main-btn.header-btn {
  display: none;
  @include tablet {
    display: flex;
  }
}

.mob-menu__item {
  border-top: 1px solid #e18298;
}

.mob-menu__item:last-child {
  border-bottom: 1px solid #e18298;
}

.mob-menu__link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  padding: 12px 24px;
  @include desktop {
    font-size: 16px;
    line-height: 1.31;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  @include desktop {
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--white-bg-color);
  &:hover,
  &:focus focus {
    color: var(--accent-color);
  }
}
