.products {
  padding-bottom: 60px;
  padding-top: 60px;
}

.products__pretitle {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--ice-cream-medium-color);

  @include tablet {
    font-size: 26px;
    line-height: 1.15;
  }

  @include desktop {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);

  margin-top: 15px;
  margin-bottom: 148px;

  @include tablet {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 158px;
  }

  @include desktop {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 281px;
  }
}

.products__list {
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }

  @include desktop {
    margin: -16px;
  }
}

.products__item {
  position: relative;

  background: var(--ice-coffee-bg-color);
  border-radius: 24px;
  height: 489px;

  &:first-child {
    background-color: var(--ice-cream-bg-color);
  }

  &:last-child {
    background-color: var(--milkshakes-bg-color);
  }
 
  &:first-child::before {
    content: "";
    display: block;
    width: 280px;
    height: 280px;
    position: absolute;
    top: -29%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/mobile/high-icecream-1x.webp);
  }

  &:nth-child(2)::before {
    content: "";
    display: block;
    width: 280px;
    height: 280px;
    position: absolute;
    top: -29%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/mobile/icecoffee-1x.webp);
  }

  &:last-child::before {
    content: "";
    display: block;
    width: 280px;
    height: 280px;
    position: absolute;
    top: -29%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/mobile/milkshakes-1x.webp);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 140px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 224px;
    height: 473px;
    // flex-basis: calc(100%-2 * 16px / 2);
    margin: 8px;

    &:first-child::before {
      width: 224px;
      height: 224px;
      background-image: url(../images/tablet/icecream-1x.webp);
    }
  
    &:nth-child(2)::before {
      width: 224px;
      height: 224px;
      background-image: url(../images/tablet/icecoffee-1x.webp);
    }
  
    &:last-child::before {
      width: 224px;
      height: 224px;
      background-image: url(../images/tablet/milkshakes-1x.webp);
    }
  }

  @include desktop {
    width: 368px;
    height: 535px;
    // flex-basis: calc(100%-2 * 32px / 2);
    margin: 16px;

    &:first-child::before {
      width: 368px;
      height: 394px;
      top: -48%;
      background-image: url(../images/desktop/icecream-1x.webp);
    }
  
    &:nth-child(2)::before {
      width: 368px;
      height: 394px;
      top: -48%;
      background-image: url(../images/desktop/icecoffee-1x.webp);
    }
  
    &:last-child::before {
      // content: "";
      // display: block;
      width: 368px;
      height: 394px;
      // position: absolute;
      top: -48%;
      // left: 50%;
      // transform: translateX(-50%);
      background-image: url(../images/desktop/milkshakes-1x.webp);
    }
  }
}

// .products__img {
//   width: 280px;
//   height: 280px;
//   position: absolute;
//   top: -27%;
//   left: 50%;
//   transform: translateX(-50%);

//   z-index: 2;

//   @include tablet {
//     width: 224px;
//     height: 224px;
//   }

//   @include desktop {
//     width: 368px;
//     height: 394px;
//     top: -48%;
//   }
// }

.products__name {
  position: relative;
  font-family: 'Titan One', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--light-text-color);

  padding-top: 160px;

  &::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--white-bg-color);
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0.4em 0px 0px var(--white-bg-color))
      drop-shadow(-0.4em 0px 0px var(--white-bg-color));
  }

  @include tablet {
    padding-top: 118px;
  }

  @include desktop {
    font-size: 30px;
    line-height: 1.13;
    padding-top: 165px;
  }
}

.block {
  position: relative;
}

.products__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--light-text-color);

  margin-top: 70px;
  width: 200px;
  height: 124px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include tablet {
    line-height: 1.79;
    width: 160px;
    height: 150px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.75;
    width: 245px;
    height: 106px;
  }
}

.products__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 40px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--ice-cream-bg-color);
    transform: scale(1.1);
    box-shadow: 0 8px 50px rgb(210 20 67 / 40%);
  }

  @include desktop {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.products__description {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 70%;
  padding: 0px 5px;

  border-radius: 24px;
  overflow: auto;

  @include mobile {
    padding: 0px 40px;
  }

  @include tablet {
    height: 73%;
    padding: 0px 25px;
  }

  @include desktop {
    height: 74%;
    padding: 0px 60px;
  }

  // border: 1px solid red;
}

.description-ice-cream {
  transform: translateY(135%);
  opacity: 0;
  // transition: opacity 500ms linear;

  // background-image: linear-gradient(#ffb8ca80, #ffb8ca80),
  // url(../images/ice-cream-bg.webp),
  // linear-gradient(#ffb8ca, #ffb8ca);
  // background-repeat: no-repeat;
  // background-position: 50% 50%;
  // background-size: contain;

  background-color: var(--ice-cream-bg-color);

  &.open-description {
    transform: translateY(42%);
    opacity: 1;
    transition: opacity 300ms linear;

    @include tablet {
      transform: translateY(35%);
    }
  }
}

.ice-cream-btn.open-description {
  transform: rotate(180deg);
}

.description-ice-coffee {
  transform: translateY(135%);
  opacity: 0;
  // transition: opacity 500ms linear;

  background: var(--ice-coffee-bg-color);

  &.open-description {
    transform: translateY(42%);
    opacity: 1;
    transition: opacity 300ms linear;

    @include tablet {
      transform: translateY(35%);
    }
  }
}

.ice-coffee-btn.open-description {
  transform: rotate(180deg);
}

.description-milkshakes {
  transform: translateY(135%);
  opacity: 0;
  // transition: opacity 500ms linear;

  background-color: var(--milkshakes-bg-color);

  &.open-description {
    transform: translateY(42%);
    opacity: 1;
    transition: opacity 300ms linear;

    @include tablet {
      transform: translateY(35%);
    }
  }
}

.milkshakes-btn.open-description {
  transform: rotate(180deg);
}

.products__description-title {
  margin-bottom: 20px;

  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--light-text-color);


  padding-top: 24px;

  @include tablet {
    padding-top: 8px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.13;
    padding-top: 30px;
  }
}

.products__description-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--light-text-color);



  // margin-top: 70px;
  // width: 200px;
  // height: 124px;
  // margin-left: auto;
  // margin-right: auto;
  // overflow: hidden;

  @include tablet {
    line-height: 1.79;
    // width: 160px;
    // height: 150px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.75;
    // width: 245px;
    // height: 106px;
  }
}