:root {
  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --light-text-color: #ffffff;
  --accent-color: #d41443;
  --white-bg-color: #ffffff;
  --light-bg-color: #fff5f6;
  --ice-cream-bg-color: #ffb8ca;
  --ice-cream-medium-color: #ffa5ba;
  --ice-cream-rich-color: #e17992;
  --ice-coffee-bg-color: #f0d1a5;
  --milkshakes-bg-color: #c2e297;
}
