<section id="how-its-made" class="section section-about">
  <div class="flex desktop-image-wrap">
    <div class="image-wrap__mobile">
    <div class="container">
      <div class="about">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
      </div>
      <div class="flex">
        <picture class="about__picture-caw">
          <source
            srcset="
              ./images/desktop/cows-milk-1x.webp 1x,
              ./images/desktop/cows-milk-2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/cows-milk-1x.png 1x,
              ./images/desktop/cows-milk-2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/cows-milk-1x.webp 1x,
              ./images/tablet/cows-milk-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/cows-milk-1x.png 1x,
              ./images/tablet/cows-milk-2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/cows-milk-1x.webp 1x,
              ./images/mobile/cows-milk-2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/cows-milk-1x.png 1x,
              ./images/mobile/cows-milk-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img src="./images/desktop/cows-milk-1x.png" alt="Фото коровы" width="501" height="501"/>
        </picture>
        <div class="image-wrap">
            <p class="image-wrap__text">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </p>
            <p class="image-wrap__text image-wrap__text-color">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
              Cras massa nibh, tincidunt.&nbsp;&nbsp;
            </p>
            <p class="image-wrap__text image-wrap__text-color">
              Aliquam erat volutpat. Aenean accumsan.
            </p>
         
          <button data-modal-open-about class="button-block__btn" type="button">
            Read more
            <svg class="button-block__icon" width="6px" height="9px">
              <use href="./images/icons.svg#icon-Vector"></use>
            </svg>
          </button>
           </div>
        </div>
      </div>
    
      </div>
      <div class="about-owerlay is-hidden" data-modal-about>
          <div class="about-owerlay__modal">
        <button class="modal__btn-close" data-modal-close-about>
          <svg width="25" height="25">
            <use href="./images/icons.svg#icon-close-black"></use>
          </svg>

        </button>
        <div class="about-owerlay__wrap-text">
          <p class="about-owerlay__text-title">about us</p>
          <p class="about-owerlay__text">Ice-cream provides its customers with the opportunity to test all our products to their taste by arranging free presentations of our products in your workshop.</p>
        </div>
        <div>
          <div class="about-owerlay__circle">
            <img class="about-owerlay__img" 
            srcset="./images/desktop/milk-modal-1x.png 1x, 
            ./images/desktop/milk-modal-2x.png 2x" 
            src="./images/desktop/milk-modal-1x.png" alt="фото молока" width="113" height="237">
              </div>
                <p class="about-owerlay__text-color">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. </p>
          </div>
             <div class="about-owerlay__image">
              <img class="about-owerlay__image-milk" 
              srcset="
                ./images/desktop/milk-bottom-1x.png 1x, 
                ./images/desktop/milk-bottom-2x.png 2x" 
              src="./images/desktop/milk-bottom-1x.png" alt="фото молока" src="./images/desktop/ice-cream-modal-1x.png" alt="фото молока">
              <img class="about-owerlay__image-ice-cream" 
              srcset="
                ./images/desktop/ice-cream-modal-1x.png 1x, 
                ./images/desktop/ice-cream-modal-2x.png 2x" 
              src="./images/desktop/ice-cream-modal-1x.png" alt="фото мороженого">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
