<section class="advantages-section">
  <div class="advantages-container">
    <h2 class="advantages-heading">Advantages</h2>
    <ul class="abvantages-list">
      <li class="abvantages-list__item">
        <span class="abvantages-list__heading first-icon">721</span>
        <p class="abvantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="abvantages-list__item">
        <span class="abvantages-list__heading second-icon">16kg</span>
        <p class="abvantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="abvantages-list__item">
        <span class="abvantages-list__heading thirth-icon">84</span>
        <p class="abvantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
