<section class="advantages-section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-list__item first-icon">
        <span class="advantages-list__heading">721</span>
        <p class="advantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item second-icon">
        <span class="advantages-list__heading">16kg</span>
        <p class="advantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item thirth-icon">
        <span class="advantages-list__heading">84</span>
        <p class="advantages-list__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
