<section class="contacts section">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="locations list">
      <li class="locations__item">
        <div class="locations__pre-title-wrap">
          <p class="locations__pre-title">Cafe</p>
        </div>
        <h3 class="locations__title">Chicago</h3>
        <p class="locations__desc">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="schedule list">
          <li class="schedule__item">
            <p class="schedule__item-days">Monday - Friday</p>
            <p class="schedule__item-time">
              <time datetime="06:00">06:00</time> AM -
              <time datetime="10:00">10:00</time> PM
            </p>
          </li>
          <li class="schedule__item">
            <p class="schedule__item-days">Saturday - Sunday</p>
            <p class="schedule__item-time">
              <time datetime="08:00">08:00</time> AM -
              <time datetime="16:00">16:00</time> PM
            </p>
          </li>
        </ul>
        <ul class="connect list">
          <li class="connect__item">
            <a href="tel:+61(0)383766284" class="connect__link link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="connect__item">
            <a href="mailto:noreply@envato.com" class="connect__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="locations__item">
        <div class="locations__pre-title-wrapper">
          <p class="locations__pre-title">Foodtruck</p>
        </div>
        <h3 class="locations__title">Los Angeles</h3>
        <p class="locations__desc">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="schedule list">
          <li class="schedule__item">
            <p class="schedule__item-days">Monday - Friday</p>
            <p class="schedule__item-time">
              <time datetime="06:00">06:00</time> AM -
              <time datetime="10:00">10:00</time> PM
            </p>
          </li>
          <li class="schedule__item">
            <p class="schedule__item-days">Saturday - Sunday</p>
            <p class="schedule__item-time">
              <time datetime="08:00">08:00</time> AM -
              <time datetime="16:00">16:00</time> PM
            </p>
          </li>
        </ul>
        <ul class="connect list">
          <li class="connect__item">
            <a href="tel:+61(0)383766284" class="connect__link link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="connect__item">
            <a href="mailto:noreply@envato.com" class="connect__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="locations__item">
        <div class="locations__pre-title-wrap">
          <p class="locations__pre-title">Cafe</p>
        </div>
        <h3 class="locations__title">New York</h3>
        <p class="locations__desc">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="schedule list">
          <li class="schedule__item">
            <p class="schedule__item-days">Monday - Friday</p>
            <p class="schedule__item-time">
              <time datetime="06:00">06:00</time> AM -
              <time datetime="10:00">10:00</time> PM
            </p>
          </li>
          <li class="schedule__item">
            <p class="schedule__item-days">Saturday - Sunday</p>
            <p class="schedule__item-time">
              <time datetime="08:00">08:00</time> AM -
              <time datetime="16:00">16:00</time> PM
            </p>
          </li>
        </ul>
        <ul class="connect list">
          <li class="connect__item">
            <a href="tel:+61(0)383766284" class="connect__link link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="connect__item">
            <a href="mailto:noreply@envato.com" class="connect__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <button type="button" class="btn contacts__btn contacts__btn--red">
      Our Locations<svg class="btn__icon btn__icon--red" width="10" height="16">
        <use href="./images/icons.svg#icon-pointer"></use>
      </svg>
    </button>
    <button type="button" class="btn contacts__btn contacts__btn--white">
      Franchise<svg class="btn__icon btn__icon--white" width="10" height="16">
        <use href="./images/icons.svg#icon-pointer"></use>
      </svg>
    </button>
  </div>
</section>
