<article class="swiper">
    <h2 class="title" hidden>Customer Reviews</h2>
<!-- головний контейнер слайдера -->
<div class="container">
    <!-- обов'язкова оболонка -->
    <div class="swiper-container">
        <!-- слайди -->
        <ul class="swiper-wrapper list ">
            <!-- контент всередині слайда -->
            <li class="swiper-wrapper__link slider-slide">
                <picture class="swiper-wrapper__picture">
                    <source
                    srcset="./images/customer-rewiews/pelageya.png 1x,
                    ./images/customer-rewiews/pelageya2x.png 2x"/>
                    <img class="swiper-wrapper__image"
                    src="./images/customer-rewiews/pelageya.jpg"
                    alt="customer"/>
                </picture>
                <div class="swiper-wrapper__content">
                <p class="swiper-wrapper__text">Thank you to the entire team for the experience and for taking one more step toward making our dream come true If you fall asleep now, your fancy will appear in dreams, for sure. Although, if you prefer studying to sleeping, your fancy will come true.</p>
                </div>

                <p class="swiper-wrapper__name">Pelageya, Los Angeles</p>
            </li>
            <!-- контент всередині слайда -->
            <li class="swiper-wrapper__link slider-slide">
                <picture class="swiper-wrapper__picture">
                    <source
                    srcset="./images/customer-rewiews/ira.png 1x,
                    ./images/customer-rewiews/ira2x.png 2x"/>
                    <img class="swiper-wrapper__image"
                    src="./images/customer-rewiews/ira.jpg"
                    alt="customer"/>
                </picture>
                <div class="swiper-wrapper__content">
                <p class="swiper-wrapper__text">It was an unforgettable first experience of working in a team. I really enjoyed working on this project. It was so excited!</p>
                </div>

                <p class="swiper-wrapper__name">Iryna, Symu</p>
            </li>
            <!-- контент всередині слайда -->
            <li class="swiper-wrapper__link slider-slide">
                <picture class="swiper-wrapper__picture">
                    <source
                    srcset="./images/customer-rewiews/kristina.png 1x,
                    ./images/customer-rewiews/kristina2x.png 2x"/>
                    <img class="swiper-wrapper__image"
                    src="./images/customer-rewiews/kristina.jpg"
                    alt="customer"/>
                </picture>
                <div class="swiper-wrapper__content">
                <p class="swiper-wrapper__text">This project is the joint merit of each of its participants. Thank you all for the integral and important contribution to achieving the result.</p>
                </div>

                <p class="swiper-wrapper__name">Khrystyna, Lviv</p>
            </li>
                        <!-- контент всередині слайда -->
                        <li class="swiper-wrapper__link slider-slide">
                            <picture class="swiper-wrapper__picture">
                                <source
                                srcset="./images/customer-rewiews/mykola.png 1x,
                                ./images/customer-rewiews/mykola2x.png 2x"/>
                                <img class="swiper-wrapper__image"
                                src="./images/customer-rewiews/mykola.jpg"
                                alt="customer"/>
                            </picture>
                            <div class="swiper-wrapper__content">
                            <p class="swiper-wrapper__text">Thanks to GO IT! I have made new friends and invaluable experience in the team project. I wish you all to become successful web developers! Best regards!</p>
                            </div>
            
                            <p class="swiper-wrapper__name">Mykola, Kharkiv</p>
                        </li>
                                    <!-- контент всередині слайда -->
            <li class="swiper-wrapper__link slider-slide">
                <picture class="swiper-wrapper__picture">
                    <source
                    srcset="./images/customer-rewiews/daniil.png 1x,
                    ./images/customer-rewiews/daniil2x.png 2x"/>
                    <img class="swiper-wrapper__image"
                    src="./images/customer-rewiews/daniil.jpg"
                    alt="customer"/>
                </picture>
                <div class="swiper-wrapper__content">
                <p class="swiper-wrapper__text">It was a wonderful experience of teamwork, distribution of responsibilities and learning new things!</p>
                </div>

                <p class="swiper-wrapper__name"> Daniel, Kharkiv</p>
            </li>
                        <!-- контент всередині слайда -->
                        <li class="swiper-wrapper__link slider-slide">
                            <picture class="swiper-wrapper__picture">
                                <source
                                srcset="./images/customer-rewiews/oleksander.png 1x,
                                ./images/customer-rewiews/oleksander2x.png 2x"/>
                                <img class="swiper-wrapper__image"
                                src="./images/customer-rewiews/oleksander.jpg"
                                alt="customer"/>
                            </picture>
                            <div class="swiper-wrapper__content">
                            <p class="swiper-wrapper__text">Our joint work on the project was very exciting. It was a pleasure to work with the team and we have developed our Soft-skills a lot. Each member of the team approached the project responsibly and enthusiastically. The whole team worked as one!</p>
                            </div>
            
                            <p class="swiper-wrapper__name">Oleksander, Los Angeles</p>
                        </li>
                                    <!-- контент всередині слайда -->
            <li class="swiper-wrapper__link slider-slide">
                <picture class="swiper-wrapper__picture">
                    <source
                    srcset="./images/customer-rewiews/alyona.png 1x,
                    ./images/customer-rewiews/alyona2x.png 2x"/>
                    <img class="swiper-wrapper__image"
                    src="./images/customer-rewiews/alyona.jpg"
                    alt="customer"/>
                </picture>
                <div class="swiper-wrapper__content">
                <p class="swiper-wrapper__text">I am excited about the project!  It is both complex and interesting at the same time.  It allowed us to develop our knowledge and skills, as well as learn new things.</p>
                </div>

                <p class="swiper-wrapper__name">Alyona, Dnipro</p>
            </li>
            </ul>

        <!-- і так далі... -->
    </div>
</div>
</article>


   