<article class="customer-reviews container">
    <h2 class="customer-reviews__title" hidden>Customer Reviews</h2>
<!-- головний контейнер слайдера -->
    <div class="image-slider swiper-container">
    <!-- обов'язкова оболонка -->
    <div class="image-slider__wriper swiper-wrapper">
        <!-- слайди -->
        <div class="image-slider__slide swiper-slide">
            <!-- контент всередині слайда -->
            <div class="image-slider__image">
                <img src="./images/testimonials.jpg" alt="customer">
                <p class="image-slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <div class="image-slider__slide swiper-slide">
            <!-- контент всередині слайда -->
            <div class="image-slider__image">
                <img src="./images/testimonials.jpg" alt="customer">
                <p class="image-slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                    Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <div class="image-slider__slide swiper-slide">
            <!-- контент всередині слайда -->
            <div class="image-slider__image">
                <img src="./images/testimonials.jpg" alt="customer">
                <p class="image-slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                    Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <!-- і так далі... -->
    </div>
        <!-- навігація по слайдам -->
        <div class="image-slider__slide swiper-pagination"></div>
    </div>
</article>


   