<footer class="footer">
  <div class="container">
    <p class="footer__pretitle">homemade ice cream made</p>
    <p class="footer__title">with passion</p>
    <div class="footer-contacts-wrap">
      <ul class="footer__list list">
        <li class="footer__item">
          <a
            href=" "
            class="footer__link link"
            aria-label="GitHub"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="footer__icon footer__icon--github">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a
            href=" "
            class="footer__link link"
            aria-label="Telegram"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="footer__icon footer__icon--telegram">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a
            href=" "
            class="footer__link link"
            aria-label="Facebook"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="footer__icon footer__icon--facebook">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer__contact">
      Feel free to contact
      <a href="tel:+61(0)383766284" class="footer__tel link"
        >+61 (0) 383 766 284</a
      >
    </p>

    <div class="copyright-wrap">
      <p class="footer__copyright">
        &#169; 2022 - IceCream. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
