<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a href=" " class="logo">
        <svg class="logo__icon" width="199" height="50">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="menu list">
        <li class="menu__item"><a href="" class="menu__link link">Home</a></li>
        <li class="menu__item">
          <a href="" class="menu__link link">About us</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">How it’s made?</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">Our products</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="buttons-container">
      <button type="button" class="menu-open-btn">
        <svg width="40" height="40" aria-label="Переключатель мобильного меню">
          <use
            class="menu-open-btn__icon"
            href="/src/images/icons.svg#icon-burger"
          ></use>
        </svg>
      </button>
      <button class="main-btn header-btn">
        Buy now<span class="arrow-btn">&gt;</span>
      </button>
    </div>
    <div class="mob-menu іs-hidden">
      <button class="main-btn mob-menu__main-btn" type="button">
        Buy now<span class="arrow-btn">&gt;</span>
      </button>
      <ul class="mob-menu__list list">
        <li class="mob-menu__item">
          <a href=" " class="mob-menu__link link">Home</a>
        </li>
        <li class="mob-menu__item">
          <a href=" " class="mob-menu__link link">About us</a>
        </li>
        <li class="mob-menu__item">
          <a href=" " class="mob-menu__link link">How it’s made?</a>
        </li>
        <li class="mob-menu__item">
          <a href=" " class="mob-menu__link link">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a href=" " class="mob-menu__link link">Contact</a>
        </li>
      </ul>
      <button type="button" class="menu-close-btn">
        <svg class="menu-close-btn__icon">
          <use href="/src/images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
