<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a href=" " class="logo">
        <img src=" " alt="logotype" />
      </a>
    </nav>
    <div class="buttons-container">
      <button type="button" class="menu-open-btn">
        0
        <svg width=" " height=" " aria-label="Переключатель мобильного меню">
          <use class="menu-open-btn__icon" href=" "></use>
        </svg>
      </button>
      <button class="main-btn header-btn">
        Buy now<span class="arrow-btn">&gt;</span>
      </button>
    </div>
    <div class="mob-menu">
      <button class="main-btn mob-menu__main-btn" type="button">
        Buy now<span class="arrow-btn">&gt;</span>
      </button>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href=" " class="nav-list__link">Home</a>
        </li>
        <li class="nav-list__item">
          <a href=" " class="nav-list__link">About us</a>
        </li>
        <li class="nav-list__item">
          <a href=" " class="nav-list__link">How it’s made?</a>
        </li>
        <li class="nav-list__item">
          <a href=" " class="nav-list__link">Our products</a>
        </li>
        <li class="nav-list__item">
          <a href=" " class="nav-list__link">Contact</a>
        </li>
      </ul>
      <button type="button" class="menu-close-btn">
        <svg class="menu-close-btn__icon">
          <use href=" "></use>
        </svg>
      </button>
    </div>
  </div>
</header>
