<section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <h1 class="hero__title">
        ice cream made with
        <span>passion</span>
      </h1>
      <ul class="hero-list">
        <li class="hero-list__item">
          <a href="" class="hero-list__button hero-list__button--red"
            >Products</a
          >
        </li>
        <li class="hero-list__item">
          <a href="" class="hero-list__button hero-list__button--wite"
            >How it’s made?</a
          >
        </li>
      </ul>
    </div>
    <div class="hero__circle"></div>
    <picture class="hero-img">
      <source srcset="# 1x, # 2x" media="(min-width: 320px)" />
      <img src="#" alt="ice-cream" />
    </picture>
  </div>
</section>
