<section class="hero" id="about">
  <div class="container hero__container">
    <div class="hero__wrap hero__wrap--column">
      <h1 class="hero__title">
        ice cream made with
        <span>passion</span>
      </h1>
      <ul class="hero-list list">
        <li class="hero-list__item">
          <a
            href="#products"
            class="hero-list__button hero-list__button--red link"
            >Products</a
          >
        </li>
        <li class="hero-list__item">
          <a
            href="#how-its-made"
            class="hero-list__button hero-list__button--wite link"
            >How it’s made?</a
          >
        </li>
      </ul>
      <div class="hero__wrap hero__wrap--row">
        <picture class="">
          <source
            srcset="
              ./images/desktop/jug-1x.png 1x,
              ./images/desktop/jug-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/jug-1x.png 1x,
              ./images/tablet/jug-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/tablet/jug-1x.png" alt="milk" />
        </picture>
        <div class="hero__wrap hero__wrap--column">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="hero__arrow">
            <img
              srcset="
                ./images/arrow-right-1x.png 1x,
                ./images/arrow-right-2x.png 2x
              "
              src="./images/arrow-right-1x.png"
              alt="arrow"
            />
          </button>
        </div>
      </div>
      <picture class="hero-img">
        <source
          srcset="
            ./images/desktop/high-icecream-1x.png 1x,
            ./images/desktop/high-icecream-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/tablet/high-icecream-1x.png 1x,
            ./images/tablet/high-icecream-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/mobile/icecream-1x.png 1x,
            ./images/mobile/icecream-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/mobile/icecream-1x.png" alt="ice-cream" />
      </picture>
    </div>
    <ul class="hero-counter list">
      <li class="hero-counter__item">cafes<span>16</span></li>
      <li class="hero-counter__item">food trucks<span>24</span></li>
    </ul>
    <div class="hero__circle"></div>
    <picture class="hero-picture">
      <source
        srcset="
          ./images/desktop/girl-1x.png 1x,
          ./images/desktop/girl-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/tablet/girl-1x.png 1x, ./images/tablet/girl-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/tablet/girl-1x.png" alt="milk" />
    </picture>
  </div>
</section>
