<!-- Модальне вікно з формою замовлення -->
<section class="backdrop-order is-hidden" data-modal-order>
    <!-- <div class="backdrop is-hidden"> -->
        <div class="modal-order">
            <button type="button" class="modal-order-close__btn">
                <svg width="14" height="14">
                  <use
                    class="modal-order-close__icon"
                    href="/src/images/icons.svg#icon-close"
                  ></use>
                </svg>
            </button>
            <b class="modal-order__text">Place your order</b>
            <form class="order-form">
                <div class="order-form__product">
                    <div class="order-form__field">
                        <label class="order-form__lable" for="product">Product</label>
                        <select class="order-form__input" name="product" id="product">
                            <optgroup label="ICE CREAM">
                                <option value="ic1">Chocolate</option>
                                <option value="ic2">Cookies N’ Cream</option>
                                <option value="ic3">Vanilla</option>
                                <option value="ic4">Strawberry</option>
                                <option value="ic5">Chocolate Chip</option>
                                <option value="ic6">Cookie Dough</option>
                                <option value="ic7">Buttered Pecan</option>
                                <option value="ic8">French Vanilla</option>
                                <option value="ic9">Chocolate Chip Cookie Dough</option>
                                <option value="ic10">Caramel</option>
                                <option value="ic11">Salted Caramel</option>                        
                            </optgroup>                      
                            <optgroup label="ICE COFFEE">
                                <option value="cf1">Banana Milk Coffee</option>
                                <option value="cf2">Cappuccino on Ice</option>
                                <option value="cf3">Creamy Iced Coffee</option>
                                <option value="cf4">Iced Caramel Macchiato</option>
                                <option value="cf5">Vietnamese Iced Coffee</option>
                                <option value="cf6">Chocolate-y Iced Mocha</option>
                                <option value="cf7">Chocolate Peanut Butter Iced Coffee</option>
                                <option value="cf8">Caramel Coconut Iced Coffee</option>
                            </optgroup>
                            <optgroup label="MILKSHAKES">
                                <option value="ms1">Banana Milkshake.</option>
                                <option value="ms2">Vanilla Milkshake.</option>
                                <option value="ms3">Mango Milkshake.</option>
                                <option value="ms4">Banana Khajur Milkshake.</option>
                                <option value="ms5">Chocolate Milkshake.</option>
                                <option value="ms6">Strawberry Milkshake.</option>
                                <option value="ms7">Chocolate-Banana Milkshake.</option>
                                <option value="ms8">Cookies and Cream Milkshake.</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="order-form__field">
                        <label class="order-form__lable" for="number">Number</label>
                        <input 
                            class="order-form__input" 
                            type="number" name="number" 
                            id="number" 
                            value="1" 
                            min="1" 
                            max="100"
                        />
                    </div>
                </div>                
                <div class="order-form__field">
                    <label class="order-form__lable" for="payment">Order payment</label>
                    <input 
                        class="order-form__input input-credit-card" 
                        type="text" 
                        name="payment" 
                        id="payment" 
                        placeholder="Enter credit card number"
                    />
                </div>
                <div class="order-form__field">
                    <label class="order-form__lable" for="user-name">Name</label>
                    <input class="order-form__input" type="text" name="user-name" id="user-name" />
                </div>
                <div class="order-form__field">
                    <label class="order-form__lable" for="user-tel">Phone</label>
                    <input class="order-form__input" type="tel" name="user-tel" id="user-tel" />
                </div>
                <button type="submit" class="order-form__btn">Submit</button>
            </form>
        </div>
    <!-- </div> -->
</section>